@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Raleway:wght@200&family=Roboto+Mono:wght@300&display=swap');

body{
background: linear-gradient(120deg, #000000 0%, #460042 100%);
}

button{
    padding: 5px;
    border: 0.2px solid rgb(255, 255, 255);
    border-radius: 10%;
}
.blurry{
    background-color: rgba(137, 0, 165, 0.95);
    backdrop-filter: blur(10px);
}
.transitioning{
    transition: 0.2s;
    transform: translateX(-100%);
}
.sideshow{
    color: #000000;
    height: fit-content;
    background-color: rgba(141, 141, 141, 0.85);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    transition: 0.2s;
    transform: translateX(0%);
}
.animateit:hover{
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.85);
    transform: translateX(0%);
    border-radius: 10px;
}

.enlarge:hover{
 transition: 0.3s;
 transform: scale(1.0);
 color: #000000;
}